<div class="baris">
    <div class="row">
        <div class="col s12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <br/>
        </div>
    </div>
    
    <div class="row">
        <div class="col l6 m6 s12 center">
            <img src="./images/Astra-International-Logo.png" class="responsive-img"
                alt="Logo Astra International Logo" />
            <br /><br />
            <img src="./images/logobinus.webp" class="responsive-img" alt="Logo SMK Bina Nusantara Semarang" />
            &nbsp; &nbsp; &nbsp; &nbsp; 
            <img src="./images/honda-logo.png" class="responsive-img" alt="Logo Honda" style="max-width: 20%;" />
            <br/><br/>
        </div>
        <div class="col l6 m6 s12 teal white-text z-depth-2" style="border-radius: 15px;">
            <br/>
            <form>
                <br/>
                <input type="text" name="inputuser" id="input_user" placeholder="Username">
                <br/>
                <input type="password" name="inputpass" id="input_pass" placeholder="Password">
                <br/>
                <a class="waves-effect waves-light btn orange">LOGIN</a>
                <br/>
            </form>
            <br/>
        </div>
    </div>
</div>
