<div class="baris">
    <div class="row">
        <div class="col s12">
            <H4><b>NEW PAYMENT</b></H4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col s12">
            <table class="highlight" style="font-size: x-small;">
                <thead>
                    <tr>
                        <th class="center">NO</th>
                        <th class="center grey lighten-3">ID SERVICE</th>
                        <th class="center">DATE IN</th>
                        <th class="center grey lighten-3">CUSTOMER</th>
                        <th class="center">NOPOL</th>
                        <th class="center grey lighten-3">STATUS</th>
                        <th class="center grey lighten-3"> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="center">1.</td>
                        <td class="center grey lighten-3">70001</td>
                        <td class="center">2020-11-05 15:30:02</td>
                        <td class="center grey lighten-3">Mulyadi</td>
                        <td class="center">H 5444 AB</td>
                        <td class="center grey lighten-3">UNPAID</td>
                        <td class="center"><button class="waves-effect waves-light btn"><i class="material-icons left">attach_money</i>PAY</button></td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>