<div style="width: 8cm;">
    <div style="width: 100%; text-align:center;">
        <h3><b>BENGKEL BINUSA</b></h3>
        <p><i>Melayani Dengan Hati</i></p>
        <br/><br/>
    </div>
    <div style="width: 100%; text-align:center;">
        <p>20001 / LINDA / 10-11-2020 15:35</p>
    </div>
    <div style="width: 100%; text-align:center;">
        <p>-----------------------------------------------------</p>
    </div>
    <div style="width: 100%;">
        <table style="font-size: small; width: 8cm;">
            <tr>
                <td><b>BARANG / JASA</b></td>
                <td><b>HARGA</b></td>
            </tr>
            <tr>
                <td>Service Kampas</td>
                <td>Rp. 12.000</td>
            </tr>
            <tr>
                <td style="text-align: right;">TOTAL &nbsp;</td>
                <td>Rp. 12.000</td>
            </tr>
            <tr>
                <td style="text-align: right;">BAYAR &nbsp;</td>
                <td>Rp. 12.000</td>
            </tr>
            <tr>
                <td style="text-align: right;">KEMBALIAN &nbsp;</td>
                <td>Rp. 0</td>
            </tr>

        </table>
    </div>
    <div style="width: 100%; text-align:center;">
        <p>-----------------------------------------------------</p>
        <p>BB10001HA</p>
        <br/>
    </div>
</div>

