<div class="baris">
    <div class="row">
        <div class="col s12">
            <h4><b>NEW SERVICE</b></h4>
        </div>
    </div>
    <hr/>
    <div class="row">
        <form class="col s12" method="POST" action="/app/inputservice">
            <div class="row">
                <div class="input-field col s12">
                    <h6><b>DATA CUSTOMER</b></h6>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_name" name="customername" type="text" class="validate" required>
                    <label for="customer_name">Nama</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_phone" name="customerphone" type="tel" class="validate" required>
                    <label for="customer_phone">Telepon</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <textarea id="customer_address" name="customeraddress" class="materialize-textarea" required></textarea>
                    <label for="customer_address">Alamat</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <h6><b>DATA KENDARAAN</b></h6>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_jeniskendaraan" name="customerjeniskendaraan" type="text" class="validate" required>
                    <label for="customer_jeniskendaraan">Jenis Kendaraan</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_nopol" name="customernopol" type="text" class="validate" required>
                    <label for="customer_nopol">NOPOL</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_tahunkendaraan" name="customertahunkendaraan" type="text" class="validate" required>
                    <label for="customer_tahunkendaraan">Tahun Kendaraan</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_norangka" name="customernorangka" type="text" class="validate" required>
                    <label for="customer_norangka">Nomor Rangka</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <input id="customer_nomesin" name="customernomesin" type="text" class="validate" required>
                    <label for="customer_nomesin">Nomor Mesin</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <select name="customerhondanonhonda">
                        <option value="1">Honda</option>
                        <option value="0">Non Honda</option>
                    </select>
                    <label for="customer_nomesin">Honda / Non Honda</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <h6><b>PERMINTAAN / KELUHAN</b></h6>
                </div>
                <div class="input-field col s12">
                    <textarea id="customer_request" name="customerrequest" class="materialize-textarea" required></textarea>
                    <label for="customer_request">Permintaan / Keluhan</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn btn-large waves-effect waves-light red" type="submit" name="action">REGISTER
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>