<div class="baris">
    <div class="row">
        <div class="col s12">
            <h4><b>SERVICE - NEW ARRIVAL</b></h4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col s12">

        </div>
    </div>
</div>