<div class="baris">
    <div class="row">
        <div class="col s12">
            <H4><b>DATA SERVICE</b></H4>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn red"><b><i class="material-icons left">arrow_back</i></b></a>
            <a class="waves-effect waves-light btn red"><b><i class="material-icons right">arrow_forward</i></b></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="highlight" style="font-size: x-small;">
                <thead>
                    <tr>
                        <th class="center">NO</th>
                        <th class="center grey lighten-3">ID SERVICE</th>
                        <th class="center">DATE IN</th>
                        <th class="center grey lighten-3">CUSTOMER</th>
                        <th class="center">REQUEST</th>
                        <th class="center grey lighten-3">STATUS</th>
                        <th class="center">TECHNICIAN</th>
                        <th class="center grey lighten-3"> </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="center">1.</td>
                        <td class="center grey lighten-3">70001</td>
                        <td class="center">2020-11-05 15:30:02</td>
                        <td class="center grey lighten-3">Mulyadi</td>
                        <td>Mesin Brebet, dihidupkan / starter tidak jalan</td>
                        <td class="center grey lighten-3">PROCESS</td>
                        <td class="center">Sardi</td>
                        <td class="center"><button class="btn btn-floating"><i class="material-icons">edit</i></button></td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>